:root {
    /* fonts */
--primary-font: 'roboto', sans-serif;
--secondary-font: 'raleway', sans-serif;

    /* text colors */
--primary-text-color: #212121;
--secondary-text-color: #757575;
--white-text-color: #ffffff;

    /* bg colors */
--basic-bg-color: #ffffff;
--hero-color: #2F303A;
--accent-color: #2196f3;
    /* other colors */

--hero-hover-color: #188ce8;
--black-color: #000000;
--footer-color: #2F303A;
--button-background-color: #2196f3;


}

body {
    font-family: var(--primary-font);
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        color: var(--secondary-text-color);
        
}

/* reset styles */
.link {
text-decoration: none;
color: currentColor;
}

.list {
list-style: none;
}

/* header section */

.header-link:hover,
.header-link:focus {
    color: var(--accent-color);
}
.current {
    color: var(--accent-color);
}

.logo {
    color: var(--accent-color);
    font-family: var(--secondary-font);
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
}

.header {
font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.header-studio-logo-link {
    color: var(--primary-text-color);
}

.header-list {
  color: var(--primary-text-color);  
}

.header-link-current {
    color: var(--accent-color)
}

.header-link-current {
    color: var(--accent-color);
}


.button:hover,
.button:focus {
background-color: var(--button-background-color);
color: var(--white-text-color);
}

.button {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
        color: var(--primary-text-color);
        font-family: inherit;
        cursor: pointer;
            border: none;
}


/* hero section */
.hero {
    background-color: var(--hero-color);
}

.hero-title {
    font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--white-text-color);
}

.hero-button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-text-color);
    background-color: var(--button-background-color);
    cursor: pointer;
        border: none;
}
.hero-button:hover,
.hero-button:focus {
    color: var(--hero-hover-color);
}

/* main section */


.benefits-title {
    font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
        color: var(--primary-text-color);
}
.section-title {
    color: var(--primary-text-color);
    font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
}


.team-subtitle {
    font-weight: 500;
        color: var(--primary-text-color)
}

.team-position, .team-subtitle {
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
}

.image-title {
    font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: var(--primary-text-color);
}

.category {
        font-size: 16px;
        line-height: 1.87;
}

/* footer */
.footer {
    background-color: var(--footer-color);
}
.footer-studio-logo-link {
    color: var(--white-text-color);
}
.address {
    font-style: normal;
}
.map-link {
    color: var(--white-text-color);
}

.footer-mail-link, .footer-phone-link {
    color: rgba(255, 255, 255, 0.6);
}
